* {
    box-sizing: border-box;
    background-color: rgb(244, 244, 244);
    color: #333;
    font-size: 10px;
}
h1 {
    text-align: center;
    font-family: cursive;
    color: black;
    padding: 2rem 15rem;
  
  }
  
  a {
    text-decoration: none;
    color: black;
  }

.App {
    margin: 0;
    padding: 0;
}

.label {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.container {
    margin: 0 auto;
    max-width: 1000px;
    padding: 40px;
}

.title {
    font-size: 4.4rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.form {
    display: grid;
}

.input {
    font-size: 1.6rem;
    padding: 0.5rem 2rem;
    line-height: 2.8rem;
    border-radius: 20px;
    background-color: white;
    margin-bottom: 1rem;
}

.button {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 1rem 2rem;
    border: 1px solid rgba(0, 0, 0, 0.75);
    border-radius: 20px;
    font-size: 1.4rem;
    cursor: pointer;
    transition: background-color 250ms;
}

.button:hover {
    background-color: rgba(0, 0, 0, 0.85);
}

.card {
    margin-bottom: 1rem;
    display: flex;
}

.card--image {
    flex: 100%;
    margin-top: 1rem;
    border-radius: 10px;
}

.card-list {
    column-count: 3;
}

@media (min-width: 768px) {
    .form {
        grid-template-columns: auto 1fr auto;
        grid-gap: 1rem;
        align-items: center;
    }
    .input {
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 600px) {
    .card-list {
        column-count: 1;
    }
}

.photo {
    font-family: cursive;
    width: 60%;
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.0975);
    max-width: 400px;
    margin-bottom: 0;
    

    
  }
  
  
  .photo__header {
    font-family: cursive;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.0975);
  }
  
  .photo__avatar {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 15px;
  }
  
  .photo__username {
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
  }
  
  .photo__file {
    max-width: 100%;
    height: 400px;
    width: 400px;
    
    
  }
  
  .photo__info {
    padding: 20px 20px 0 20px;
  }
  
  .photo__icons {
    margin-bottom: 10px;
    font-size: 18px;
    text-align: left;
  }
  
  .photo__icon:first-child {
    margin-right: 10px;
  }
  
  .photo__likes {
    font-weight: 600;
    margin-bottom: 10px;
    display: block;
    text-align: left;
  }
  
  .photo__comment {
    margin-bottom: 10px;
    text-align: left;
  }
  
  .photo__comment-author {
    font-weight: 600;
    margin-right: 5px;
    text-align: left;
  }
  
  .photo__time-ago {
    color: #999;
    text-transform: uppercase;
    font-size: 10px;
    padding-bottom: 10px;
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.0975);
  }
  
  .photo__add-comment-container {
    position: relative;
  }
  
  .photo__add-comment-container i {
    position: absolute;
    top: 17px;
    right: 0;
  }
  
  .photo__add-comment {
    width: 97%;
    border: 0;
    resize: none;
    font-size: 14px;
    padding-top: 15px;
  }
  
  .photo__add-comment:focus {
    outline: none;
  }
  
  .heart-red {
    color: red;
  }
  .photo {
    width: 60%;
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.0975);
    max-width: 400px;
    margin-bottom: 40px;
  }